<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <!--  Main  -->
      <div class="col-md-8" *ngIf="main">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Create your Product</h4>
            <p class="card-category">professionally organize your inventory</p>
          </div>
          <div class="card-body">
            <form>
              <button *ngIf="login" mat-raised-button type="submit"  class="btn btn-danger pull-right" (click)="showtable()"  > know more  </button>
              <button *ngIf="login" mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="showproduct()" > Create Product </button>

              <div class="clearfix"></div>
            </form>
            <p class="card-category" *ngIf="!login">
            You need to be logged in to see this section!
            </p>
 
          </div>
        </div>
      </div>

      <!--  Create Product   -->

      <div class="col-md-8" *ngIf="product">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Create Product</h4>
            <p class="card-category">Please enter the requested information</p>
          </div>
          <div class="card-body">
         
            
            <form [formGroup]="firstFormGroup"> 
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="Name" placeholder="Name"   type="text" />
                    <ng-container
                      *ngIf="firstFormGroup.get('Name').errors && (firstFormGroup.get('Name').dirty || firstFormGroup.get('Name').touched)"
                      ngProjectAs="mat-error">
                      <mat-error *ngIf="firstFormGroup.get('Name').hasError('maxlength')">Longitud máxima excedida max(21)</mat-error>
                      <mat-error *ngIf="firstFormGroup.get('Name').hasError('pattern')">Formato del campo invalido</mat-error>
                      <mat-error *ngIf="firstFormGroup.get('Name').hasError('required')">Campo obligatorio</mat-error>
                    </ng-container>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="Sku" placeholder="Sku"   type="text" />
                    <ng-container
                      *ngIf="firstFormGroup.get('Sku').errors && (firstFormGroup.get('Sku').dirty || firstFormGroup.get('Sku').touched)"
                      ngProjectAs="mat-error">
                      <mat-error *ngIf="firstFormGroup.get('Sku').hasError('maxlength')">Longitud máxima excedida max(21)</mat-error>
                      <mat-error *ngIf="firstFormGroup.get('Sku').hasError('required')">Campo obligatorio</mat-error>
                    </ng-container>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="Cantidad" placeholder="Cantidad"   type="number"/>
                    <ng-container
                      *ngIf="firstFormGroup.get('Cantidad').errors && (firstFormGroup.get('Cantidad').dirty || firstFormGroup.get('Cantidad').touched)"
                      ngProjectAs="mat-error">
                      <mat-error *ngIf="firstFormGroup.get('Cantidad').hasError('maxlength')">Longitud máxima excedida max(21)</mat-error>
                      <mat-error *ngIf="firstFormGroup.get('Cantidad').hasError('required')">Campo obligatorio</mat-error>
                    </ng-container>
                  </mat-form-field>
                </div>
              </div>

              <div>
                <button mat-raised-button type="submit" (click)="mainmenu()" > Back </button>

                <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="createProduct()" [disabled]="!firstFormGroup.valid">Create</button>
              </div>

              <div class="clearfix"></div>
            </form>
 
          </div>
           <div>
 
              </div>
        </div>
      </div>

      <!--  Show table  -->
      <div class="col-md-8">
        <div class="card" *ngIf="table">
 
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title">Simple Table</h4>
                <p class="card-category">Here is a subtitle for this table</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">


              <table class="table">
                    <thead class="text-primary">
                      <th>Nombre producto</th>
                      <th>SKU</th>
                      <th>Cantidad</th>
                      
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of dataSource" >
                        <td>{{item.name}}</td>
                        <td>{{item.sku}}</td>
                        <td>{{item.cantidad}}</td>
                        
                      </tr>
                    </tbody>
               </table>


                  
                </div>
              </div>

              <div>
                    <button mat-raised-button type="submit" (click)="mainmenu()" >Back</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</div>
