<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
 
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love  
        </div>
    </div>
</footer>
