<div class="main-content">
  <div class="container-fluid">
    <div class="row">

     <!--  Main  -->
      <div class="col-md-8" *ngIf="main">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Create your Order</h4>
            <p class="card-category">You can view here the details of your orders</p>
          </div>
          <div class="card-body">
            <form>
              <button *ngIf="login" mat-raised-button type="submit"  class="btn btn-danger pull-right" (click)="showtable()"  > know my ordes  </button>
              <button *ngIf="login" mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="starbuy()" > Buy</button>

              <div class="clearfix"></div>
            </form>
            <p class="card-category" *ngIf="!login">
            You need to be logged in to see this section!
            </p>
 
          </div>
        </div>
      </div>

    <!--  Create order   -->
      <div class="col-md-12" *ngIf="order">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Orders</h4>
            <p class="card-category">
              You can view here the details of your orders
            </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">

            <table class="table" *ngIf="login">
                    <thead class="text-primary">
                      <th>Nombre producto</th>
                      <th>SKU</th>
                      <th>Cantidad</th>
                      <th></th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of dataSourceGetAll" >
                        <td>{{item.name}}</td>
                        <td>{{item.sku}}</td>
                        <td>{{item.cantidad}}</td>
                        <td><button mat-raised-button type="submit"  (click)="GenerateOrder(item)"> comprar </button></td>
                      </tr>
                    </tbody>
               </table>
                <div>
                      <button mat-raised-button type="submit"  (click)="mainmenu()" > Back </button>
                </div>   
                
 
            </div>
          </div>
        </div>
      </div>

     <!--  Show table  -->
      <div class="col-md-12" *ngIf="table">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Orders</h4>
            <p class="card-category">
              You can view here the details of your orders
            </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">

            <table class="table" *ngIf="login">
                    <thead class="text-primary">
                      <th>Nombre productosss</th>
                      <th>SKU</th>
                      <th>Cantidad</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of dataSource" >
                        <td>{{item.name}}</td>
                        <td>{{item.sku}}</td>
                        <td>{{item.cantidad}}</td>
                      </tr>
                    </tbody>
               </table>
               <p class="card-category" *ngIf="!login">
                  You need to be logged in to see this section!
                </p>
                <div>
                      <button mat-raised-button type="submit"  (click)="mainmenu()" > Back </button>
                </div>   
 
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
