<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <!--  Main  -->
      <div class="col-md-8" *ngIf="main">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Create User</h4>
            <p class="card-category">Choose a option</p>
          </div>
          <div class="card-body">
            <form>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="showtable()" > Log in </button>
              <button mat-raised-button  type="submit"  class="btn btn-danger pull-right" (click)="showproduct()"  > register </button>
              <button *ngIf="loginbool" mat-raised-button type="submit"  class="btn btn-danger pull-right" (click)="logout()" > Log out </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

      <!--  Create user   -->

      <div class="col-md-8" *ngIf="product">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Create User</h4>
            <p class="card-category">Please enter the requested information</p>
          </div>
          <div class="card-body">
            <form [formGroup]="firstFormGroup"> 
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="email" placeholder="Email"   type="text" />
                    <ng-container
                      *ngIf="firstFormGroup.get('email').errors && (firstFormGroup.get('email').dirty || firstFormGroup.get('email').touched)"
                      ngProjectAs="mat-error">
                      <mat-error *ngIf="firstFormGroup.get('email').hasError('maxlength')">Longitud máxima excedida max(21)</mat-error>
                      <mat-error *ngIf="firstFormGroup.get('email').hasError('pattern')">Formato del campo invalido</mat-error>
                      <mat-error *ngIf="firstFormGroup.get('email').hasError('required')">Campo obligatorio</mat-error>
                    </ng-container>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="password" placeholder="Password"   type="password" />
                    <ng-container
                      *ngIf="firstFormGroup.get('password').errors && (firstFormGroup.get('password').dirty || firstFormGroup.get('password').touched)"
                      ngProjectAs="mat-error">
                      <mat-error *ngIf="firstFormGroup.get('password').hasError('maxlength')">Longitud máxima excedida max(21)</mat-error>
                      <mat-error *ngIf="firstFormGroup.get('password').hasError('required')">Campo obligatorio</mat-error>
                    </ng-container>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="password_confirm" placeholder="Confirm Password"   type="password"/>
                    <ng-container
                      *ngIf="firstFormGroup.get('password_confirm').errors && (firstFormGroup.get('password_confirm').dirty || firstFormGroup.get('password_confirm').touched)"
                      ngProjectAs="mat-error">
                      <mat-error *ngIf="firstFormGroup.get('password_confirm').hasError('maxlength')">Longitud máxima excedida max(21)</mat-error>
                      <mat-error *ngIf="firstFormGroup.get('password_confirm').hasError('required')">Campo obligatorio</mat-error>
                    </ng-container>
                  </mat-form-field>
                </div>
              </div>

              <div>
                <button mat-raised-button type="submit" (click)="mainmenu()" > Back </button>
 
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="createuser()" [disabled]="!firstFormGroup.valid">Create u</button>
              </div>

              <div class="clearfix"></div>
            </form>
          </div>
          <div></div>
        </div>
      </div>

      <!--  Show table  -->
      <div class="col-md-8">
        <div class="card" *ngIf="table">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title">Log IN</h4>
                <p class="card-category">Here is a subtitle for this table</p>
              </div>
              <div class="card-body">

                  <form [formGroup]="secondFormGroup">
                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                          <input matInput formControlName="email" placeholder="Email" type="text" />
                           <ng-container  *ngIf="secondFormGroup.get('password').errors && (secondFormGroup.get('password').dirty )"
                            ngProjectAs="mat-error">
                            <mat-error *ngIf="secondFormGroup.get('password').hasError('maxlength')">Longitud máxima excedida max(21)</mat-error>
                            <mat-error *ngIf="secondFormGroup.get('password').hasError('required')">Campo obligatorio</mat-error>
                          </ng-container>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                        <input matInput formControlName="password" placeholder="Password"   type="password" />
                          <ng-container  *ngIf="secondFormGroup.get('password').errors && (secondFormGroup.get('password').dirty )"
                            ngProjectAs="mat-error">
                            <mat-error *ngIf="secondFormGroup.get('password').hasError('maxlength')">Longitud máxima excedida max(21)</mat-error>
                            <mat-error *ngIf="secondFormGroup.get('password').hasError('required')">Campo obligatorio</mat-error>
                          </ng-container>

                        </mat-form-field>
                      </div>
                    </div>

                    <div>
                      <button mat-raised-button type="submit"  (click)="mainmenu()" > Back </button>
                      
                      <button mat-raised-button type="submit"  class="btn btn-danger pull-right" (click)="login()" [disabled]="!secondFormGroup.valid"> Enter </button>
                    </div>

                    <div class="clearfix"></div>
                  </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
